body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 50%;
	margin-top: 0;
	padding-top: 0;
}


.navbar {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 2em;
	margin-bottom: 0;
}

.jumbotron {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 2em;
}

.servicios {
	margin: 0;
	padding-top: 0.4em;
	padding-bottom: 0.6em;
}