body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 50%;
	margin-top: 0;
	padding-top: 0;
}


.navbar {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 2em;
	margin-bottom: 0;
}

.jumbotron {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 2em;
}

.servicios {
	margin: 0;
	padding-top: 0.4em;
	padding-bottom: 0.6em;
}

.glyphicon {
	font-size: 120px;
	padding-top: 0.4em;
}

.thumbnail {
	margin-top: 30px;
	float: left;
}

.FOOTER {
	background-color: black;
	color: white;
	font-size: 10px;
	text-align: left;
}

.nosotros {
	margin-top: 20px;
}

.titulo {
	text-align: center;
}
