body {
	margin: 0;
	padding: 0;
}

.logo {
	width: 50%;
	margin-top: 0;
	padding-top: 0;
}


.navbar {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 2em;
	margin-bottom: 0;
}

.jumbotron {
	margin-top: 90px;
	padding: 0;
	text-align: center;
	padding-bottom: 2em;
}

.servicios {
	margin: 0;
	padding-top: 0.4em;
	padding-bottom: 0.6em;
}

.glyphicon {
	font-size: 120px;
	padding-top: 0.4em;
}

.thumbnail {
	margin-top: 30px;
	float: left;
}

.FOOTER {
	font-size: 0.1em;
	text-align: left;
	margin-top: 20px;
	padding-top: 35px;
}

.nosotros {
	margin-top: 70px;
}

.titulo {
	text-align: center;
	margin-top: 150px;
}

.imagen {
	height: 60%;
	width: 60%;
	margin: 50px;
}

.mision {
	font-size: 3em;
	padding-top: 60px;
	text-align: center;
}

.title {
	text-align: center;
}

.noticias {
	margin-top: 150px;
}
